<!DOCTYPE html >
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>
<title>Music Album</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Music Album created in Angular JS" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<link href="_include/css/bootstrap.min.css" rel="stylesheet">
<link href="_include/css/main.css" rel="stylesheet">
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="_include/css/fonts.css" rel="stylesheet">
<link href="_include/css/shortcodes.css" rel="stylesheet">
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

<link rel="shortcut icon" href="#">
<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">


<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="search.js"></script>

<script src="_include/js/simplePagination.js"></script>
<script src="_include/js/angular-local-storage.js"></script>
</head>


<body ng-app="Spotifysearch" >
<div  ng-controller="SearchController">
	<!-- This section is for Splash Screen -->
	<div class="ole">
	<section id="jSplash">
		<div id="circle"></div>
	</section>
	</div>
	<!-- End of Splash Screen -->

	<header>
	<div class="navbar navbar-inverse navbar-fixed-top sticky-nav">
	  <div class="container">
		<div class="navbar-header textBoxStyle" >
			<img src="_include/img/logo.png" class="logoImage" />
		  <div class="col-xs-5 col-sm-3 pull-right">
			  <div class="input-group">
				<input ng-model="query" type="text" onClick="naviFun('work')" placeholder="search" ng-change="executeSearch()" class="form-control searchBoxAlign">
			  </div>
		  </div>
		</div>   
	  </div>
	</div>   
	</header>
	
	<!-- Filter -->
	<nav id="options" class="work-nav">
		<ul id="filters" class="option-set" data-option-key="filter">
			<li class="type-work">Menu</li>
			<li class="work"><a href="javascript:void(0)">Artist</a></li>
			<li class="album"><a href="javascript:void(0)">Album</a></li>
			<li class="tracks"><a href="javascript:void(0)">Track</a></li>
		</ul>
	</nav>
	<!-- End Filter -->
	
	
	<!-- Our Work Section -->
	<div id="work" class="page">
		<div class="container">
			<!-- Portfolio Projects -->
			<div class="row">
				<div class="span2">

				</div>
				
				<div class="span8 search-results" >
					<div class="row" >
						<h2 class="title" ng-show="query!=null" >Search Result for {{query}}</h2>
						<h2 class="title" ng-show="query==null" >Welcome to Media Gallery Site.<br><br> Search for your desire pop albums.</h2>
						<section id="projects" ng-repeat="repo in repos | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" ng-if="repo.popularity>0">
							<ul id="thumbs" >								
								<li class="item-thumbs span3 design"> 
									<a onClick="naviFun('album')" href="#album"><b class="menuTitle" ng-click="openAlbum(repo.name)">{{ repo.name }}</b></a><br>
									<a onClick="naviFun('album')" href="#album"><img ng-src="{{ repo.images[0].url}}" alt="Artist Image" class="menuImage" ng-click=" openAlbum(repo.name)"/></a><br>
									<a onClick="naviFun('album')" href="#album"><span class="menuTitle" ng-click="openAlbum(repo.name)">Popularity:{{ repo.popularity }} </span></a> &nbsp;
									<a onClick="naviFun('work')" href='#work'><img src="_include/img/Red-music-icon.png" title="Add to Favourite Artist" ng-click="addFavArtist(repo.name)"/></a>
								</li>
							</ul>
						</section>					                  
					</div>
				</div>
				<div class="span2 favorites">
                	<h3 class="title">Favourite Artist</h3>
					<div ng-repeat="artistFav in artistFavtList" style="cursor: cursor;">
						<span class="spanFontStyle">{{artistFav}}</span>
						<span><img src="_include/img/close.png" ng-click="removeFavArtist($index)" title="Remove Favourite Artist"></span>											
					</div>
				</div>
			</div>
			<div class="row">
				<div class="pagination pull-right">
				<ul>
					<li ng-class="{disabled: pagination.page==0}" ><a href  ng-click="pagination.prevPage()">« Previous</a></li>
					<li ng-repeat="n in [] | range: pagination.numPages" ng-class="{current: n == pagination.page}">
						<a href ng-click="pagination.toPageId(n)" >{{n + 1}}</a>
					</li>
					<li ng-class="{disabled: pagination.page + 1 >= pagination.numPages}"><a href ng-click="pagination.nextPage()">Next »</a></li>
				</ul>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div id="album" class="page" >
		<div class="container">		
			<!-- Title Page -->
			<div class="row" >
				<div class="span2">
				
				</div>		
				<div class="span8 search-results" >
					<div class="row" >
						<h2 class="title" ng-if="artistName!=null" >Album list of {{ artistName }}</h2>
						<h2 class="title" ng-if="artistName==null" >Search for an Artist in home page to see  Album List</h2>

						<section id="projects" ng-show="albums" ng-repeat="album in albums | startFrom: albumPagination.page * albumPagination.albumPerPage | limitTo: albumPagination.albumPerPage" >
							<ul id="thumbs" >								
								<li class="item-thumbs span3 design"> 
									<a onClick="naviFun('tracks')" href='#tracks'><b class="menuTitle" ng-click="openTrack(album.name)">{{ album.name }}</b></a><br>
									<a onClick="naviFun('tracks')" href='#tracks'><img ng-src="{{ album.images[0].url}}" alt="Artist Image" class="menuImage" ng-click="openTrack(album.name)"/></a><br>
									<a ng-href="{{ album.external_urls.spotify}}" target="_blank"><img src="_include/img/spotify.png" title="Listen Song for free via Sportify"> </a>  &nbsp; 
									<a onClick="naviFun('album')" href='#album'><img src="_include/img/Red-music-icon.png" title="Add to Favourite Album" ng-click="addFavAlbum(album.name)"/></a>
								</li>
							</ul>
						</section>  				                  
					</div>
				</div>
				<div class="span2 favorites">
                	<h3 class="title">Favourite Album</h3>
					<div ng-repeat="albumFav in albumFavtList" style="cursor: cursor;">
						<span class="spanFontStyle">{{albumFav}}</span>
						<span><img src="_include/img/close.png" ng-click="removeFavAlbum($index)" title="Remove Favourite Album"></span>											
					</div>
				</div>
			</div>
			<div class="row">
				<div class="pagination pull-right">
				<ul>
					<li ng-class="{disabled: albumPagination.page==0}" ><a href  ng-click="albumPagination.prevPage()">« Previous</a></li>
					<li ng-repeat="n in [] | range: albumPagination.albumNumPages" ng-class="{current: n == albumPagination.page}">
						<a href="#album" ng-click="albumPagination.toPageId(n)" >{{n + 1}}</a>
					</li>
					<li ng-class="{disabled: albumPagination.page + 1 >= albumPagination.albumNumPages}"><a href ng-click="albumPagination.nextPage()">Next »</a></li>
				</ul>
				</div>
			</div>
		</div>
		<!-- End Portfolio Projects -->
	</div>
	<hr />
		<div id="tracks" class="page">
		<div class="container">		
			<!-- Title Page -->
			<div class="row" >
				<div class="span2">
					
				</div>		
				
			    <div class="span8 search-results" >
					<div class="row" >
						<h2 class="title" ng-if="albumName!=null" >Track list of {{ albumName }}</h2>
						<h2 class="title" ng-if="albumName==null" >Search for an Artist and select an ablum to see Track List</h2>
						<section id="projects" ng-show="tracks" ng-repeat="track in tracks | startFrom: trackPagination.page * trackPagination.trackPerPage | limitTo: trackPagination.trackPerPage">
							<ul id="thumbs" >								
								<li class="item-thumbs span3 design"> 
									<b class="menuTitle" >{{track.name}}</b><br>
									<span class="menuTitle">
										Preview:</span>
										<span>
										<audio controls="controls">
											<source ng-src="{{track.preview_url}}" type="audio/mp3">
										</audio>
									</span>
									<span class="menuTitle">Popularity:{{ track.popularity }}</span>
									<a id="trackNav" href='#tracks'><img src="_include/img/Red-music-icon.png" title="Add to Favourite Track" ng-click="addFavTrack(track.name)"/></a>
								</li>
							</ul>
						</section>  					
				    </div>
				</div>
				<div class="span2 favorites">
                	<h3 class="title">Favourite Tracks</h3>
					<div ng-repeat="trackFav in trackFavtList" style="cursor: cursor;">
						<span class="spanFontStyle">{{trackFav}}</span>
						<span><img src="_include/img/close.png" ng-click="removeFavTrack($index)" title="Remove Favourite Track"></span>											
					</div>
				</div>
			</div>	
			<div class="row">
				<div class="pagination pull-right">
				<ul>
					<li ng-class="{disabled: trackPagination.page==0}" ><a href  ng-click="trackPagination.prevPage()">« Previous</a></li>
					<li ng-repeat="n in [] | range: trackPagination.trackNumPages" ng-class="{current: n == trackPagination.page}">
						<a href="#tracks" ng-click="trackPagination.toPageId(n)" >{{n + 1}}</a>
					</li>
					<li ng-class="{disabled: trackPagination.page + 1 >= trackPagination.trackNumPages}"><a href ng-click="trackPagination.nextPage()">Next »</a></li>
				</ul>
				</div>
			</div>
		<!-- End Portfolio Projects -->
	  </div>	
	<!-- End Our Work Section -->
	</div>
<hr>
	<!-- Footer -->
	<footer>
		<p class="credits">Copy write &copy;2014.  All rights Reserved</p>
	</footer>
	<!-- End Footer -->

	<!-- Back To Top -->
	<a id="back-to-top" href="#">
		<i class="font-icon-arrow-simple-up"></i>
	</a>
	<!-- End Back to Top -->


	<!-- Js -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
	<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
	<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
	<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
	<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
	<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
	<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
	<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
	<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
	<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
	<script src="_include/js/main.js"></script> <!-- Default JS -->
	<!-- End Js -->
</div>
</body>
</html>